@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #67295f;
  --secondary: #fff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  @apply font-sans;
  font-family: var(--outfit), sans-serif;
  color: #67295f;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInFromLeft {
  animation: fadeInFromLeft 1s ease-out;
}

.animate-fadeInFromRight {
  animation: fadeInFromRight 1s ease-out;
}

.animate-fadeInFromTop {
  animation: fadeInFromTop 1s ease-out;
}

.text-animation {
  position: relative;
  animation: slideInFromRight 1.5s ease-out;
  opacity: 1;
}

/* Slide in from the right */
.slide-in-from-right {
  animation: slideInFromRight 1.5s ease-out;
}

@keyframes slideInFromRight {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

/* Slide in from the left */
.slide-in-from-left {
  animation: slideInFromLeft 1.5s ease-out;
}

@keyframes slideInFromLeft {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

/* Slide in from the top */
.slide-in-from-top {
  animation: slideInFromTop 1.5s ease-out;
}

@keyframes slideInFromTop {
  from {
      transform: translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

/* Slide in from the bottom */
.slide-in-from-bottom {
  animation: slideInFromBottom 1.5s ease-out;
}

@keyframes slideInFromBottom {
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

